# CakePHP
/vendor/*
/config/app.php
/config/recaptcha.php
/tmp/*
/logs/*
/webroot/uploadifive/*
/webroot/magnific-popup/*
/webroot/music/*
/webroot/img/bands/*
/webroot/js/jquery*
/webroot/js/bootstrap*
/src/uploads/*

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
org.eclipse.*
.jsdtscope
.editorconfig

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Composer
composer.phar
composer.lock

# Misc
/webroot/coverage/*
/node_modules/*
phpunit.xml.dist
/webroot/js/jquery*
empty